@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
h1{
  color: black;
}
.admin-page{
  padding: 10px;
  transform: translateY(15px);
  opacity: 0;
  animation: 1s slidein .2s forwards;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

@keyframes slidein{
  100%{
    opacity: 1;
    transform: translateY(0px);
  }
}

.d3-choice{
  height:50px;
}

.legend-HBO {
  width: 50px;
  height: 20px;
  background-color: blueviolet;
  border-radius: 50px;
  color: white;
  font-weight: bold;
  text-align: center;
  margin-bottom: 2px;
  margin-left: 10px;
}

.legend-netflix {
  width: 50px;
  height: 20px;
  background-color: red;
  border-radius: 50px;
  color: white;
  font-weight: bold;
  text-align: center;
  margin-bottom: 2px;
  margin-left: 10px;
}

.legend-amazon-prime {
  width: 70px;
  height: 20px;
  background-color: lightblue;
  border-radius: 50px;
  color: white;
  font-weight: bold;
  text-align: center;
  margin-bottom: 2px;
}

.legend {
  text-align: center;
}
