@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
div.form{
  transform: translateY(15px);
  opacity: 0;
  animation: 1s slidein .2s forwards;
  font-family: 'Lato', sans-serif;
}


.submit-button{
  padding: 20px;
  text-align: center;
}

.submit-button button{
  padding: 5px;
  font-size: 20px;
  cursor: pointer;
}

.radio-button{
  font-size: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

@keyframes slidein{
  100%{
    opacity: 1;
    transform: translateY(0px);
  }
}
